[Unit]
Description=OpenStack ceilometer API service
After=syslog.target network.target

[Service]
Type=simple
User=ceilometer
EnvironmentFile=/etc/
ExecStart=/usr/bin/ceilometer-api --port=${CEILOMETER_API_PORT} -- --logfile=/var/log/ceilometer/api.log
Restart=on-failure

[Install]
WantedBy=multi-user.target

