[Unit]
Description=OpenStack ceilometer collector agent
After=syslog.target network.target

[Service]
Type=simple
User=ceilometer
ExecStart=/usr/bin/ceilometer-collector --config-file /etc/ceilometer/ceilometer.conf --logfile /var/log/ceilometer/collector.log

[Install]
WantedBy=multi-user.target

